.owl {
  width: 200px;
  height: 200px;
  position: relative;
  transition: transform 0.1s linear;
}


.owlBody,
.eye,
.beak,
.belly,
.feet,
.toe,
.wingL,
.wingR {
  position: absolute;
  box-sizing: border-box;
}

.owlBody {
  width: 200px;
  height: 200px;
  background: #8B4513;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}

.eye {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

}

.eye.left {
  left: 50%;

}

.eye.right {
  right: 50%;

}


.pupil {
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
}

.pupil.happy {
  width: 35px;
  height: 20px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border: 6px solid rgb(0, 0, 0);
  border-bottom: none;
}

.pupil.sleep {
  width: 35px;
  height: 20px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border: 6px solid rgb(0, 0, 0);
  border-top: none;
}

.pupilm {
  width: 35px;
  border-top: 10px solid black;
  border-radius: 10px;
}





.beak {
  width: 200px;
  height: 155px;
  background: orange;
  clip-path: path('M5 0C70 65 110 25 100 153 90 25 130 65 195 0 190 70 130 40 100 153 70 40 10 70 5 0');
  z-index: 2;
  top: -16px;
}

.belly {
  width: 120px;
  height: 40px;
  background: #DEB887;
  top: 70%;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.feet {
  width: 50px;
  height: 35px;
  background: orange;
  clip-path: path("M1 0C4 14 6 16 13 35 20 16 22 14 25 2 28 14 30 16 37 35 44 16 46 14 49 0Z");
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.toe {
  width: 15px;
  height: 15px;
  background: orange;
  border-radius: 50%;
}

.wingL {
  width: 50px;
  height: 95px;
  background: orange;
  clip-path: path('M1 10C5 40 7 60 25 95 43 60 45 40 49 10 35 0 15 0 1 10Z');
  top: 65%;
  left: 10px;
  z-index: -1;
}

.wingR {
  width: 50px;
  height: 95px;
  background: orange;
  clip-path: path('M1 10C5 40 7 60 25 95 43 60 45 40 49 10 35 0 15 0 1 10Z');
  top: 65%;
  right: 10px;
  z-index: -1;
}



.eye-1-eyebrow {
  width: 100px;
  height: 100px;
  background: orange;
  clip-path: path("M 2.326 0.457 C 33.324 39.692 52.941 -1.711 49.907 76.651 C 41.669 -2.253 77.653 37.091 97.813 0.348 C 98.355 35.573 59.878 25.277 49.907 76.651 C 42.32 37.633 -4.069 24.843 2.217 0.457");

}

.eye-1-wing1 {
  width: 100px;
  height: 100px;
  background: orange;
  clip-path: path("M 18.941 90.127 C 8.211 75.062 8.103 62.489 8.211 45.147 C 21.868 24.554 35.741 40.378 35.633 49.808 C 31.405 71.485 25.661 78.53 18.941 90.127");

}

.eye-1-wing2 {
  width: 100px;
  height: 100px;
  background: orange;
  clip-path: path("M80.938 90.452C90.475 76.796 91.668 62.164 91.776 39.728 81.371 29.215 72.158 28.564 59.802 40.053 59.261 57.07 66.739 71.268 80.829 90.452");

}