*{margin: 0;padding: 0;box-sizing: border-box;font-family: sans-serif;}

.calc-cover{
  padding: 2rem;
  margin-inline: auto;
  width: fit-content;
}
.calc-body{
  font-size: 2.5rem;
  width: 460px;
  aspect-ratio: 3/5;
  background-color: rgb(216, 250, 215);
  display: grid;
  grid-template-rows: 20% 80%;
  border-radius: 1rem;
  transition: width 0.5s ease,font-size 0.5s ease;

}
.calc-display{
align-self: end;
justify-self: end;
padding: 10px;
}
.calc-buttons{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.247);
  padding: 4px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 4px;
}
.equal-button{
  grid-column: span 2;
}
.button{
  width: 100%;
  height:100%;
  background-color: rgb(187, 245, 255);
  display: grid;
  place-items: center;
  border-radius: 4px;
}
.button:hover{
  background-color: rgb(145, 235, 253);
cursor: pointer;
}

@media (max-width:640px) {
  .calc-body{
    width: 300px;
    font-size: 1.6rem;
  }
  
}
