/* @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Style+Script&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.grid-cover {
  display: grid;
  min-height: 100vh;
  place-content: center;
  background-color: #1f1f1f;
  /* Background color of cover*/
}

.game-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 0.62rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  background-color: #353535;
  transition: scale 0.2s ease;
}

/* Styling for the game board */
.tic-tac-toe-board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  /* Adjust width as needed */
  grid-template-rows: repeat(3, 150px);
  /* Adjust height as needed */
  gap: 0.5rem;
  /* Adjust gap between cells */
  background-color: #242424;
  /* Background color of the game board */
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: hidden;
}

/* Styling for individual grid cells */
.tic-tac-toe-cell {
  font-family: "Poppins", serif;
  font-size: 4rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #161616;
  cursor: pointer;
  /* Cursor style on hover */
  transform-style: preserve-3d;
  transform: rotate3d(0, -1, 0.05, 180deg);

}

.flip {
  transition: transform 0.6s cubic-bezier(0.1, -0.3, 0.3, 1.5);
  transform: rotate3d(0, -1, 0, 360deg);
}

/* Styling for X symbol */
.tic-tac-toe-cell.x::after {
  content: 'X';
  /* Content of the X symbol */
  color: #ff0040;
  /* Color of the X symbol */
}

/* Styling for O symbol */
.tic-tac-toe-cell.o::after {
  content: 'O';
  /* Content of the O symbol */
  color: #2552e7;
  /* Color of the O symbol */
}

/* Hover effect on grid cells */
.tic-tac-toe-cell:hover {
  background-color: #353535;
  /* Background color on hover */
}

/* heading style */
.heading {
  padding: 0.2emem;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  border-radius: 0.2em;
  color: white;
}

/* play again button */
.btn {
  padding: 0.4em;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  border-radius: 0.2em;
  user-select: none;
  background-color: inherit;
  border: 1px solid transparent;
}

.move-reset,
.reset-btn,
.play-again-btn {
  background-color: #2367fa;
  color: white;
}

.move-reset:hover,
.reset-btn:hover,
.play-again-btn:hover {
  cursor: pointer;
  border: 1px solid grey;
}

.control-btn {
  padding: 0.4em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.winner-msg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #2b2222;
  display: grid;
  place-items: center;
  font-family: "Poppins", serif;
  color: rgb(17, 194, 17);
  min-height: 3rem;
  font-size: 4rem;
}

.diagonal-line {
  margin-block: 4.6rem;
  align-self: center;
  justify-self: center;
  position: absolute;
  width: 0;
  /* Adjust width as needed */
  border-top: 4px solid black;
  /* Adjust thickness and color as needed */
  transform: max-width 2s ease;
}

.cline {
  position: absolute;
  /* min-width: 100%;
  min-height: 100%; */
  transform: rotate(0deg);
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;

}

.my-line {
  stroke: black;
  stroke-width: 4;

}

.animate-line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 0.8s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}




/* players */
.players-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* background-color: green; */
  padding: 0.5rem;
  color: white;
}

.player-box-1,
.player-box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem;
  font-size: 1.2rem;
  padding: 0.4em;
  border-radius: 0.2em;
  border: 1px solid rgb(77, 77, 77);
}

.player-highlight {
  background-color: #5f5f5f;
}
.player-highlight  svg {
  color: #63a7ff;
}
.player-timer {
  width: 100%;
  text-align: center;
}

.player-time{
  font-family: "Electrolize", serif;
  width: 80px;
}

.player-2-timer,.player-1-timer {
  display: flex;
  gap: 0.2em;
  align-items: center;
  padding-block: 0.2em;
}

.player-2-timer svg,.player-1-timer svg {
  width: 2rem;
}

.progress-bar {
  width: 100%;
  height: 0.5rem;
  background-color: #727272;
  border-radius: 0.2em;
  position: relative;
  overflow: hidden;
}

.player-progress-fill-1 {
  height: 100%;
  background-color: white;
  width: 50%;
}

.player-progress-fill-2 {
  height: 100%;
  background-color: white;
  width: 10%;
}

.player-1-chr{
  color: red;
  font-size: 1.8rem;
}
.player-2-chr{
  color: blue;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .game-box{
    scale: 80%;
  }
  .tic-tac-toe-board {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
  }

  .tic-tac-toe-cell {
    font-size: 4rem;
  }
  .winner-msg{
    font-size: 3rem;
    text-align: center;
  }
  
}